---
ci_host: "ci.example.com"
# Jenkins Token in Project Settings
token: "6917465bb6"
# for each branch, tell which Projects to build
projects:
  "refs/heads/master":
    project: "StagingDeploy"
    token: "6917465bb6"
    build_params: "&SPHINX=no"
  "refs/heads/staging":
    project: "StagingAPP"
    token: "6917465bb6"

# Jenkins needs authentication with a user/pass
# of a user of the ci system
basic_auth:
  username: bot
  password: password

