---
ci_host: "ci.example.com"
# for each branch, tell which Projects to build
projects:
  "gitlab-projectname":  # from which gitlab project
    "refs/heads/master": # when pushed onto branch
      project: "StagingDeploy"   # trigger Jenkins project
      # Jenkins Token in Project Settings
      token: "6917465bb6"  # with token
      build_params: "&SPHINX=no" # extra build params uri-escaped
    "refs/heads/staging":
      project: "StagingAPP"
      token: "6917465bb6"
  "another-gitlab-project":
    "refs/heads/another-branch":
      project: "another"

# Jenkins needs authentication with a user/pass
# of a user of the ci system
basic_auth:
  username: bot
  password: password

